<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Detailed Course</title>
</head>
<body>
    <h1><span th:text="${course.name}"></span></h1>
    <p th:text="${course.professor.name}"></p>
    <p>La materia tiene <span th:text="${course.credits}"></span> créditos </p>

</body>
</html>